---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.highlight {
  margin: 0;
  padding: 0.2em;
  font-family: $monospace;
  // font-size: $type-size-5b;
  font-size: 0.9em;
  line-height: 1.5;
}

.archive__item-title {
    position: relative;
    font-size: 10px;
}

.grid__item .archive__item-title {
  font-size: 0.7em;
}

@media (min-width: 48em) {
  .grid__item .archive__item-excerpt {
    display: block;
    font-size: .5em;
  }
